@{
    ViewBag.Title = "Index";
}

<h2>Tela de Clientes</h2>

<li>@Html.ActionLink("Cadastrar", "New", "Cliente")</li>
<li>@Html.ActionLink("Listar", "Listar", "Cliente")</li>
<li>@Html.ActionLink("Voltar Tela Principal", "Index", "Home")</li>